.hero {
  padding: 7rem 1rem;
  background-image: url('https://source.unsplash.com/1399x399?nature');
  background-repeat: no-repeat;
  background-size: cover;
  text-shadow: 2px 2px black;
}
#about {
  padding: 8rem 2rem;
  background-color: #322acc;
  color: white;
}
footer {
  background-color: #322acc;
}
